body{
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #bb955748;
    transition: margin-left 0.4s ease, width 0.4s ease;
}

.content{
    right: 0;
    margin-left: 80px;
    transition: width 0.7s ease;
}

.top2{
    display: flex;
    position: relative;
    padding-top: 20px;
    /* background-color: rgb(185, 185, 185); */
}

.admin_pro{
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 2dvw;
    padding: 20px;
    color: #432818;
    font-weight: 600;
}

.admin_pro a {
    text-decoration: none;
    text-shadow: 0.0520833333vw 0.1041666667vw 0.2083333333vw rgba(50, 50, 50, 0.64);
}


.admin_pro:hover{
    cursor: pointer;
}

.topic{
    font-size: 25px;
    font-weight: 700;
    padding: 10px;
    color: #432818;
    text-shadow: 0.0520833333vw 0.1041666667vw 0.2083333333vw rgba(48, 48, 48, 0.64);
}

hr{
    border: none;
    height: 1.5px;
    background-color: #432818;
}

.middle{
    padding: 10px 2dvw 2dvh 3dvw;
}

.subTopic{
    font-size: 20px;
    font-weight: 700;
    color: #432818;
    text-shadow: 0.0520833333vw 0.1041666667vw 0.2083333333vw rgba(48, 48, 48, 0.64);
}
td{
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #432818;
    background-color: white;
}

table td {
    padding: 20px;
    vertical-align: top;
}

input[type="text"],
input[type="date"],
input[type="number"],
select,
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-bottom: 1px solid #b5a8a8;
}

.lastrow{
    position: relative;
}

.submitbtn {
    --c:  #432818; /* the color*/

    box-shadow: 0 0 0 .1em inset var(--c);
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background:
            var(--_g) calc(var(--_p,0%) - 100%) 0%,
            var(--_g) calc(200% - var(--_p,0%)) 0%,
            var(--_g) calc(var(--_p,0%) - 100%) 100%,
            var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    padding: 10px 20px;
    color: 250542;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.submitbtn:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
    color: rgb(218, 218, 218);
}

.submitbtn:active{
    box-shadow: 0 0 9e9q inset #0009;
    background-color: var(--c);
    color: rgb(218, 218, 218);
}



.sidebar.active + .content {
    margin-left: 250px; /* Set the left position to push the content to the right when the sidebar is active */
    width: calc(100% - 250px); /* Decrease the width of the content when the sidebar is active */
}
