body{
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*background-color: #bb955748;*/
    transition: margin-left 0.4s ease, width 0.4s ease;
}

.content{
    right: 0;
    margin-left: 80px;
    transition: width 0.7s ease;
}

.top2{
    display: flex;
    position: relative;
    padding-top: 20px;
    /* background-color: rgb(185, 185, 185); */
}

.admin_pro{
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 2dvw;
    padding: 20px;
    font-weight: 600;
}


.admin_pro a {
    text-decoration: none;
    /*text-shadow: 0.0520833333vw 0.1041666667vw 0.2083333333vw rgba(50, 50, 50, 0.64);*/
    color: #000;
}


.admin_pro:hover{
    cursor: pointer;
}

.topic{
    font-size: 2em;
    font-weight: 700;
    padding: 10px 10px 10px 30px;
    color: #000;
    /*text-shadow: 0.0520833333vw 0.1041666667vw 0.2083333333vw rgba(48, 48, 48, 0.64);*/
}

hr{
    border: none;
    height: 1.5px;
    background-color: #000;
}

.middle{
    padding: 20px;
}

.subTopic{
    padding-top: 2dvh;
    font-size: 20px;
    font-weight: 700;
    color: #000;
    /*text-shadow: 0.0520833333vw 0.1041666667vw 0.2083333333vw rgba(48, 48, 48, 0.64);*/
}
td{
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #000;
    background-color: white;
}

table td {
    padding: 20px;
    vertical-align: top;
}

input[type="text"],
input[type="date"],
input[type="number"],
select,
textarea {
    width: calc(100% - 20px);
    padding: 5px 10px;
    border: none;
    border-bottom: 1px solid #b5a8a8;
}

.lastrow{
    position: relative;
}


.sidebar.active + .content {
    margin-left: 250px; /* Set the left position to push the content to the right when the sidebar is active */
    width: calc(100% - 250px); /* Decrease the width of the content when the sidebar is active */
}
