
.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #ffffff69;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    padding: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"],
input[type="tel"],
input[type="url"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

textarea {
    height: 100px;
}

select {
    appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 5px;
}

.subbtn {
    padding: 10px 20px;
    background-color: #bb9557;
    color: #432818;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.303);
    transition: box-shadow 0.3s ease;
    margin: auto calc(50% - 45px);
}

.subbtn:hover {
    background-color: #432818;
    color: #bb9557;
    box-shadow: 0px 4px 8px #bb95578d;
}
