
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../../images/roomReservation/log_back3.jpg"); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    background-size: cover; /* This ensures the image covers the entire background */
    background-position: center; /* This centers the image */
}

.login-page, .register-page {
    width: 20%;
    height: 40%;
    background-color: #caffdc;
    padding: 45px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: block;
}

.register-page {
    display: none;
}

h2 {
    font-size: 2.2rem;
    margin-top: 0;
    margin-bottom: 2.5rem;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="tel"],
button {
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 9px;
}

button {
    margin-top: 1.5rem;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
}