body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar {
    background-color: #333;
    color: #fff;
    padding: 0;
    width: 250px;
    height: 100vh;
}

.content {
    padding: 20px;
    width: 100%;
}

.jobs {
    margin-bottom: 30px;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.driver-info {
    padding: 20px;
}

.driver_portal_navigate {
    margin-top: 50px;
    list-style-type: none;
    text-align: center;
}

.driver_portal_navigate p {
    padding: 10px;
    cursor: pointer;
}

.driver_portal_navigate p:hover {
    background-color: #a5a5a5;
    color: black;
}