body {
    background-color:#27005d69;
    font-family: Arial, sans-serif;
    padding: 50px 120px;
    width: fit-content;
    margin: 0 auto;
}
h1{
    font-size: 40px;
    color: #ffffff;
    text-align:center;
    margin: 40px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    color: white;
    display: block;
    margin: 5px;
    font-weight: bold;
    padding: 0 40px;
}
.form-group input, .form-group select {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 5px auto;
    display:block;
}
table {
    margin: auto;
    width: 90%;
    border-collapse: collapse;
    margin-bottom: 120px;
    background-color:#ffffff;
}
table, th, td {
    border: 1px solid #8c8c8c;
}
th, td {
    padding: 10px;
    text-align: center;
}
.uneditable-textbox {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    text-align-all: center;
}
.submit-button {
    background-color: #468048;
    color: white;
    padding: 20px 25px;
    margin-bottom:20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin:0 25%;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    width: 50%;
}
fieldset {
    background-color: #5d0e41b5;
    border: 1px solid #ccc0;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 40px;
    width: 900px;
}
legend {
    color: #E4F1FF;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;
    /* margin-right: 50px; */
}